<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.adorsys.finlexa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <uses-feature android:name="android.hardware.fingerprint" android:required="true"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppFullScreenTheme">
        <activity android:name="de.adorsys.finlexa.activity.LoadingScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="de.adorsys.finlexa.service.FirebaseMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="de.adorsys.finlexa.service.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name="de.adorsys.finlexa.activity.MainActivity"
            android:label="MainActivity">
        </activity>

        <activity
            android:name="de.adorsys.finlexa.activity.DashboardActivity"
            android:label="DashboardActivity">
        </activity>

        <activity
            android:name="de.adorsys.finlexa.activity.AuthoriseActivity"
            android:label="FingerprintActivity">
        </activity>

        <activity
            android:name="de.adorsys.finlexa.activity.RegisterActivity"
            android:label="RegisterActivity">
        </activity>

        <activity
            android:name="de.adorsys.finlexa.activity.ProfileActivity"
            android:label="ProfileActivity">
        </activity>

        <activity
            android:name="de.adorsys.finlexa.activity.ProfileEditActivity"
            android:label="ProfileEditActivity">
        </activity>

        <activity
            android:name="de.adorsys.finlexa.activity.TemplateActivity"
            android:label="TemplateActivity">
        </activity>

        <activity
            android:name="de.adorsys.finlexa.activity.AccessActivity"
            android:label="AccountActivity">
        </activity>
    </application>

</manifest>